<!-- ========================= FOOTER ========================= -->
<footer class="site-footer">
  <div class="container">
    <div class="footer-bottom">
      <div>
        <p class="text-muted">&copy; 2024 Afzal Shoes</p>
      </div>
      <div>
        <span class="px-2">info@afzalshoes.com</span>
        <span class="px-2">+879-332-9375</span>
        <span class="px-2">Street name 123, Avenue abc</span>
      </div>
      <div>
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </div>
  </div>
</footer>
<!-- ========================= FOOTER END // ========================= -->